.passenger-count-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://thumbs.dreamstime.com/b/people-passengers-subway-station-waiting-underground-train-arrival-metro-platform-interior-escalator-carriage-map-231815986.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* height: 60vh; */
    margin: auto;
    padding: 50px;
    background-color: white;
    background-size: cover;
    width: 70vw;
    border-radius: 20px;
}

.persons-enter {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vh;
    padding: 20px;
}

.count-num {
    font-weight: bold;
    color: black;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.increment-but,
.Decrement-but {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    /* border-width: 0px; */
    border: none;
    /* color: white; */
    display: block;
    width: 90%;
    font-size: 30px;
    /* box-shadow: 2px 2px 4px black; */
    margin: 30px;
    cursor: pointer;
}

.Decrement-but {
    background-color: red;
}

.count-box {
    background-color: white;
    /* position: absolute; */
    border-radius: 6px;
    border-color: black;
    width: 300px;
    margin: auto;
}

.count-box:hover {
    box-shadow: 4px 4px 2pc black;
}